body {
    scroll-behavior: smooth;
    overflow-x: hidden;
   background-color: grey;
   
}

.ref {
    margin-top: 50px;
    margin-bottom: 100px;
}
.refresh {
    text-align: center;
    margin: auto;
    
}

.dice {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    margin: 30px;
    text-shadow: 7px 0 #453a80;
    font-size: 50px;
    color: #4ecc69;
    text-align: center;
    font-family: 'Indie Flower', cursive;

}

p {
    font-size: 30px;
    color: #cc5f4e;

}

img {
    width: 100px;
}

footer {
    margin-top: 200px;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Potta One', cursive;

}

a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    background-color: blue;
    margin-top: 20px;
    font-family: 'Great Vibes';
    text-align: center;
    border-radius: 90px;
}